<!DOCTYPE html>
<html lang="ro" >

<head>
    <title>Contact</title>

    <meta name="keywords" content="telefon, email, adresa">
    <meta name="description" content="Footstore ofera o colectie variata de sneakers, haine de firma originale si accesorii sportive">

    <%- include("../fragmente/head.ejs") %>

</head>

<body>
    <%- include("../fragmente/header.ejs") %>

    <main>
        <div id="container">
			<div id="text">
				Contact
				<div id="text-reflectat">
					Contact
				</div>
			</div>

		</div>

        <section id="contact-info">
            <h2>Informații de contact</h2>
            <p>Dacă aveți orice întrebări, nelămuriri sau probleme, nu ezitați să ne contactați. Suntem aici pentru a vă ajuta! Puteți folosi detaliile de contact de mai jos.</p>
            <ul>
                <li><strong>Adresă:</strong> Strada Fizicienilor, nr. 123, Bucuresti</li>
                <li><strong>Telefon:</strong> 0722 123 456</li>
                <li><strong>Email:</strong> contact@magazinadidasi.ro</li>
            </ul>
        </section>
            
            <div id="imagine"></div>

        </section>

    </main>
    <%- include("../fragmente/footer.ejs") %>

</body>
</html>