<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Footstore</title>

      
        <meta name="author" content="Popescu Florin Daniel"> 
        <meta name="keywords" content="Sneakers,haine de firma,accesorii">
        <meta name="description" content="Footstore ofera o colectie variata de sneakers, haine de firma originale si accesorii sportive">

        
        <link rel="stylesheet" type="text/css" href="resurse/css/despre.css">

        <!--Font awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />



        <script type="text/javascript" async
                src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
        <%- include("../fragmente/head.ejs") %>
    </head>
  
    <body>
     <%- include("../fragmente/header.ejs") %>
        <main>
           
            <h3>Scurt istoric</h3>
            
            <p id="text-coloane">
                Fondat în 2010, SneakerHub a devenit rapid unul dintre principalii retaileri online specializați în sneakers și haine streetwear. Înființat de către pasionați ai culturii sneaker, site-ul a fost conceput ca o destinație unică pentru iubitorii modei urbane și a fost lansat cu misiunea de a oferi acces la cele mai recente și cele mai căutate produse din lumea sneaker. Cu o selecție atent curată de branduri de top, precum Nike, Adidas, Jordan, și colaborări exclusiviste, SneakerHub a devenit rapid un punct de referință pentru cei care caută cele mai recente tendințe în modă urbană și sport.

                Astăzi, SneakerHub nu este doar un magazin online, ci și o comunitate vibrantă a entuziaștilor de sneakers. Cu lansări exclusive, evenimente speciale și colaborări inovatoare cu artiști și designeri de renume, site-ul continuă să ofere experiențe unice clienților săi. Cu o echipă dedicată pasionată de sneaker și streetwear, SneakerHub rămâne un punct de referință pentru cei care caută produse de calitate și un serviciu clienți impecabil.
            </p>
            
        </main>

        <%- include("../fragmente/footer.ejs") %>


</body>

</html>


